$color-charcoal: #101010;
$color-default: #981C61;
$color-github: #333333;
$color-medium: #02B875;
$color-resume: #D66D13;
$color-twitter: #3B94D9;
$color-white: #FFFFFF;

$content-padding: 10vw;
$content-width: 90vw;
$social-media-width: 22.5rem;

$speed-normal: .75s;
$speed-fast: .25s;
